.topbarContainer {
    background-color: #1e1e1e;
    border-radius: 16px;
    box-shadow: #e63946 0px 7px 29px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.topbarSearchInput {
    width: 400px;
    border-radius: 10px;
    border: none;
    height: 30px;
    outline: none;
    margin: 0 20px;
}

.topbarSearchInput::placeholder {
    color: gray;
    opacity: 0.8;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.link {
    cursor: pointer;
}
