.topProgrammersContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнювання по центру */
    justify-content: space-between; /* Рівномірний розподіл */
    height: 100vh; /* Розтягуємо на всю висоту екрану */
}

.programmerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Або фіксована ширина, наприклад, max-width: 500px */
}

.programmerContainer {
    width: 100%;
    max-width: 450px;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
}

.placeIcon {
    width: 48px;
    height: 48px;
}
