.moduleContainer {
    background-color: #1e1e1e;
    padding: 10px 60px;
    margin-bottom: 50px;
    border-radius: 16px;
    box-shadow: #e63946 0px 7px 29px 0px;
}

.moduleHeader {
    color: #b0b0b0;
    font-size: 40px;
    margin-bottom: 0;
}

.moduleDescription {
    color: #ffffff;
    font-size: 26px;
    margin-top: 0;
}

.difficultyContainer {
    display: flex;
    align-items: center;
}

.difficultyIcon {
    width: 32px; /* Задайте розмір картинки */
    height: 32px; /* Задайте висоту, якщо потрібно */
    margin-right: 8px;
}

.difficultyText {
    color: #b0b0b0;
    font-size: 16px;
}
