.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Займає всю висоту екрану */
}

.content {
    display: flex;
    flex: 1; /* Розтягуємо на всю доступну площу */
    /* padding-top: 60px; Відступ під Topbar */
    margin: 0 100px;
    gap: 40px;
}

.modulesWrapper {
    flex: 1;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none;
}

.modulesWrapper::-webkit-scrollbar {
    display: none;
}

/* Псевдоелемент для відступу знизу */
.modulesWrapper::after {
    content: "";
    display: block;
    height: 18.5vh; /* Регулюй за потреби */
}

.no-scroll {
    overflow: hidden;
}

/* Стилі для ModulesText */
.modulesTextWrapper {
    flex: 0 0 30%; /* Створюємо простір для тексту */
    padding: 20px;
    height: 100%; /* Забезпечуємо, щоб текст був на всю висоту */
    overflow-y: auto;
}
